
body {
    font-family: 'Roboto', Arial, sans-serif; 
    background-color: rgb(240, 222, 240); 
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    box-sizing: border-box;
}

.main-container {
    /* background-color: #ffffff; */
    border-radius: 8px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
    max-width: 700px; 
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.title {
    background-color: #ffffff;
    border: 1px solid #dadce0; 
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.title p {
    font-size: small;
}

.title h1 {
    margin-top: 0;
}

.form-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
}

.form-header h1 {
    font-size: 28px;
    color: #202124;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-header p {
    font-size: 16px;
    color: #5f6368;
    margin: 0;
}

.form-section {
    background-color: #ffffff;
    border: 1px solid #dadce0; 
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #202124;
    margin-bottom: 8px;
    font-weight: 500; 
}

.form-actions {
    margin-top: 30px;
    text-align: left; 
}

.form-actions button[type="submit"] {
    background-color: #1a73e8; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.form-section input[type="text"],
.form-section input[type="number"]{
    width: calc(100% - 22px); 
    padding: 10px;
    border: none; 
    border-bottom: 1px solid #dadce0; 
    border-radius: 0; 
    font-size: 15px;
    color: #202124;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}